.container {
    width: 50%;
    height: 20rem;
    margin: 5% auto;
    background-image: radial-gradient(circle, #e8ecf2, #dcd5e6, #ddbacc, #daa3a0, #c29470);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    font-size: 1rem;
}

.heading{
    text-align: center;
    transition: all 300ms ease-in-out;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

::placeholder{
    padding-left: 10px;
}

.heading:hover{
    letter-spacing: 2px;
    text-decoration: underline;
}

.input-field{
    width: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 50px;
    height: 3rem;
    border: none;
    
}

.input-field:not(:last-child){
    margin-bottom: 2rem;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 8rem;
    height: 3rem;
    border-radius: 25px;
    border : none;
    transition: all 500ms ease-in-out;
    margin: 2rem auto;
}

.btnblock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color:#daa3a0
}